.root { 
  --theme_grey:#9caeb1;
  --white:#eee
}

.movie-list-row {
  overflow-x: scroll;
}
.movie-card:hover {
  margin: 5px;
  padding: 9px;
  transform: translateY(-20px);
  transition: 1s;
  cursor: pointer;
}
.movie-card {
  margin: 5px;
  min-width: 250px !important;
  padding: 9px;
  /* background-color: var(--bs-gray) !important; */
}
.movie-card-btn-grp {
  display: contents !important;
  /* display: flex !important;
  justify-content: space-between !important; */
}
.image-tag{
  width: 100px;
  height: 300px;
}
.red-heart{
  color: var(--bs-red) !important;
}

/* scroll bar */
::-webkit-scrollbar {
  width: .2px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}